body{
    margin:65px 135px 0 ;
   
}
.section1{
    margin-top: -50px;
}
section{
    margin-bottom: 100px;
}
/* shared */
.orange{
    color: #FF5400;
}
.text{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.span1{
    color: #FF5400;
    font-weight: 700;
}

.div1{
    display: flex;
    gap: 15px;
    align-items: center;
 
}
.div2{
    display: flex;
    gap: 44px;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.div3{
    display: none;
}
.img1{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
}
.webname{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* nav finished */
}
.banner{
    text-align: center;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1180px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.title1{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 23px;
}
.para2{
    color: #FFF;
    width: 676px;
    margin-bottom: 45px;
}
.input{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
input::placeholder,select,.btn1{
    color: rgba(19, 19, 24, 0.50);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;

}
.pera3{
    padding-left: 5px;
    
}
.btn1{
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
background: #FF5400;
}

#input1{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FFF;
border: none;
padding-right: 85px;
}
 /* header finished */
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img5{
    width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.div5{
    padding-bottom: 24px;
}
.title5{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para5{
    width: 550px;
}
.para6{
    padding-bottom: 15px;
}
.para7{
    padding-bottom: 10px;
}
/* Section 2 finished */





















.section3{
    text-align: center;
    
}
.title11{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para8{
    padding-bottom: 28px;
}
.para10 ,.para11,.para12,.para13,.para14,.para15,.para16 {
    /* width: 573px;
height: 300px;
flex-shrink: 0; */
border-radius: 16px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
border:none;
display: flex;
justify-content: center;
align-items: center;}

.para10{
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png');
    grid-area:mal ;
    width: 603px;
height: 300px;
flex-shrink: 0;
background-size: cover;
background-repeat: no-repeat;
}
.para11{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url(Images/Rectangle\ 8.png);
    grid-area: indo;
    width: 603px;
height: 300px;
flex-shrink: 0;background-size: cover;
background-repeat: no-repeat;
}
.para12{
    background:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url('Images/Rectangle\ 6.png ') ;
    background-repeat: no-repeat;
    grid-area:sri ;
    width: 384px;
height: 286px;
flex-shrink: 0;background-size: cover;
background-repeat: no-repeat;
}
.para13{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url('Images/Rectangle\ 7.png');grid-area:nam;
    width: 505px;
height: 286px;
flex-shrink: 0;background-size: cover;
background-repeat: no-repeat;

}
.para14{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url('Images/Rectangle\ 9.png') ;grid-area:kash;
    width: 324px;
height: 286px;
flex-shrink: 0;background-size: cover;
background-repeat: no-repeat;
}
.para15{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url('Images/Rectangle\ 11.png');grid-area:ban;
    width: 483px;
height: 300px;
flex-shrink: 0;
background-size: cover;
background-repeat: no-repeat;
}
.para16{
    background:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),url('Images/Rectangle\ 10.png') ;
    grid-area:band;
    width: 723px;
height: 300px;
flex-shrink: 0;
background-size: cover;
background-repeat: no-repeat;
}
.div10{
    display: grid;
    /* gap: 24px; */
    grid-template-areas: 
    "mal mal mal mal indo indo indo indo"
    "sri sri nam nam nam nam kash kash"
    "ban ban ban band band band band band";
}
/* Section 3 finished */

















.div20{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    

}
.div24{
    display: grid;
    justify-content: center;
    margin-bottom: 44px;
}

.title15{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 20px;

}
.para20{
    width: 643px;
}
.div21{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
width: 573px;
height: 284px;
flex-shrink: 0;
padding: 32px;

}
.img20{
    width: 64px;
height: 64px;
flex-shrink: 0;
padding-bottom: 32px;
}
.title20{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para21{
    width: 486px;
}
.div22{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 573px;
height: 284px;
flex-shrink: 0;
padding: 32px;
}
.div23{
    width: 573px;
height: 254px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 32px;
margin: 24px 300px 0px ;

}



































/* media   query */
@media screen and (max-width:576px) {
    body{
        margin:0px 20px  ;
        margin-top: 50px;
}
section{
    margin-bottom: 20px;
}
.orange{
    color: #FF5400;}
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;

    }

    .div1{
        display: flex;
        gap: 8px;
        align-items: center;
     
    }
    .img1{
        width: 28.724px;
height: 33.516px;
flex-shrink: 0;
    }
    .webname{
        color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .div2{
        display: none;
        
    }
     .div3{ 
        display: flex;
        width: 24px;
       height: 24px;
    flex-shrink: 0;
    margin-right: 25px;
    }
    .banner{
        text-align: center;
        background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('Images/Group\ 13\ \(1\)\ \(1\).png');
        width: 335px;
        height: 693px;
        flex-shrink: 0;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .title1{
        font-size: 22px;
    }
    .para2{
        color: #FFF;
        width: 305px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 21px;
    }
    .input{
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items:center;
        gap: 16px;
    }
    coloumn,.section2{
        flex-direction: column;
        align-items:center;
    }
    
    
    #input1{
        width: 88px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
    background: #FFF;
    border: none;
    padding-right: 85px;
    }
    /* header finished */



    .img5{
        width: 335px;
height: 342px;
flex-shrink: 0;
    }
.title5{
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}
.para5{
    width: 335px;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.div5{
    padding-bottom: 16px;
}
/* Section2 finished */



.title11{
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.para10 ,.para11,.para12,.para13,.para14,.para15,.para16 {
    /* width: 573px;
height: 300px;
flex-shrink: 0; */
border-radius: 16px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border:none;
display: flex;
justify-content: center;
align-items: center;
}
.para10 ,.para11,.para12,.para13,.para14,.para15,.para16{
    width: 335px;
height: 176px;
flex-shrink: 0;
margin: 10px auto;
}
.div10{
    display: grid;
     gap: 0px;
    grid-template-areas: 
    "mal"
    "indo "
    "sri"
    "nam"
    "kash"
    "ban"
    "band";}
/*  Section 3 */














}
